In [1]:
# Continue to Dictionary
# How to create a tuple - tuple is set of items
# Create Tuple
tup = (1,2,3)

In [2]:
tup

(1, 2, 3)

In [4]:
# Once you create Tuple you can't chnage it value 
# tup[0] = 5

In [7]:
# String also a immutable
my_string = 'Vijaya'
# my_string[0] = 'a'

In [8]:
# tuple can have repeted elements
tup = (1,1,1,1)
tup

(1, 1, 1, 1)

In [9]:
# Another way to create tuple
tup = 1,2,3,4,5

# The same as tup = (1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [10]:
# interview question: What is Dynamic typing in python
# you dont have to tell python what type of value variable you are creating , python will figure it out

# example: Java
# int my_num=1;

# example: Python
# my_num = 1 <- python know this datatype based on assinment value so my_num is Integer

In [14]:
# one way tuple is useful 
# Unpacking the tup (1,2,3,4,5) into a,b,c,d,e
a,b,c,d,e = tup
print(a,b,c,d,e)

1 2 3 4 5

In [15]:
# Same with List
# tuple can have mixed type elements
another_tup = ('apple',1,3.14,[1,2,3])
another_tup

('apple', 1, 3.14, [1, 2, 3])

In [18]:
another_tup[-1].append(999)
another_tup

('apple', 1, 3.14, [1, 2, 3, 999])

In [26]:
# what is the diffrence between tuple and a set
my_set = {1,2,3}
my_set
type(my_set)

set

In [27]:
# the diffrence Set can not be disply duplicate values howver it alow duplicates, while tuple can allow & show duplicates
my_set_1 = {1,1,1}
my_set_1

{1}

In [28]:
# One usage of set is to quickly de-dup
my_list = ['a','a','b','b','c']
my_list_dedup = list(set(my_list))
my_list_dedup

['b', 'a', 'c']

In [29]:
# if you want to sort your list use sorted fumction
sorted(list(set(my_list)))

['a', 'b', 'c']

In [30]:
# Create another dictionary with multiple items
another_dict = {'Monday': 100,
               'Tuesday': 200,
               'Wednesday': 300,
               'Thurnsday': 400,
               'Friday': 500}

In [31]:
another_dict.items()

dict_items([('Monday', 100), ('Tuesday', 200), ('Wednesday', 300), ('Thurnsday', 400), ('Friday', 500)])

In [33]:
list(another_dict.items())

[('Monday', 100),
 ('Tuesday', 200),
 ('Wednesday', 300),
 ('Thurnsday', 400),
 ('Friday', 500)]

In [34]:
list(another_dict.items())[0]

('Monday', 100)

In [35]:
list(another_dict.items())[2:6]

[('Wednesday', 300), ('Thurnsday', 400), ('Friday', 500)]

In [36]:
list(another_dict.items())[2]

('Wednesday', 300)

In [37]:
list(another_dict.items())[-3:]

[('Wednesday', 300), ('Thurnsday', 400), ('Friday', 500)]

In [39]:
first_element = list(another_dict.items())[0]
first_element

('Monday', 100)

In [40]:
type(first_element)

tuple

In [41]:
type(another_dict.items())

dict_items

In [47]:
# Access the first value of the first elemnet in the dictionary items
list(another_dict.items())[0][0]

# the same method but longer
list_of_dict_items = list(another_dict.items())
# The first element in the list of tuples
first_element = list_of_dict_items[0]
# the first value in th tuple ('Monday', 100)
first_value = first_element[0]
first_value

'Monday'